* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#header {
  margin-bottom: -50px;
  margin-top: -28px;
}

#header-img img {
  max-height: 150px;
  width: auto;
}

.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;

  background-color: ghostwhite;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.links li {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}

.links :hover {
  color: #f6b93b;
  transition: all 0.4s ease 0s;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 32px;
  height: 4px;
  background-color: black;
  margin: 6px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .links {
    width: 57%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transfrom: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-40deg) translate(-9px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(40deg) translate(-8px, -6px);
}

/**********************Main SECTION******************************/

.middle {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.headline {
  font-size: 4em;
  text-align: center;
  background-color: #e4f0f4;
  padding-top: 2.5em;
  padding-left: 1.5em;
  font-family: "Poppins", sans-serif;
  display: relative;
}

a.button1 {
  display: absolute;
  padding: 0.5em;
  margin: 0 0.3em 0.3em 0;
  font-size: 0.5em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.4s ease 0s;
}

a.button1:hover {
  background-color: #f6b93b;
  transition: all 0.4s ease 0s;
}

.scallop-up {
  height: 100px;
  width: 100%;
  background: -webkit-gradient(
    radial,
    50% 100%,
    10,
    50% 100%,
    40,
    from(#e4f0f4),
    color-stop(0.49, #e4f0f4),
    color-stop(0.51, #fff),
    to(white)
  );
  -webkit-background-size: 49px 100%;
}

.scallop-down {
  height: 100px;
  width: 100%;

  background: -webkit-gradient(
    radial,
    50% 0,
    10,
    50% 0,
    40,
    from(#e4f0f4),
    color-stop(0.49, #e4f0f4),
    color-stop(0.51, #fff),
    to(white)
  );
  -webkit-background-size: 49px 100%;
}

/********WHAT IS SECTIONS WITH VIDEO ******/

.whatIs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  text-align: center;
}

#title {
  font-size: 3.5rem;
  padding-bottom: 50px;
}

#cloudDescription {
  margin-left: 250px;
  margin-right: 250px;
  font-size: 1.7em;
}

iframe {
  margin: 15px;
}

/****************FEATURES**********************/
.features {
  background-color: #e4f0f4;
  padding-top: 1%;
}

.cloud-section-header h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 4em;
}
.cloud {
  background-color: #e4f0f4;
}

.cloud-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 5%;
}

.icons {
  padding-left: 268px;
  padding-bottom: 30px;
}

.feature-text {
  padding-left: 27%;
  padding-right: 27%;
  font-size: 1.5em;
  margin-top: 15px;
}

#email {
  padding-left: 41%;
  padding-bottom: 15%;
  background-color: #e4f0f4;
}

.signUp {
  margin-left: 45%;
  padding-bottom: 20px;
}

#textbox {
  margin-bottom: 5px;
}

.submit {
  color: #494949;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 10px;
  display: block;
  transition: all 0.4s ease 0s;
  margin-left: 115px;
}

.submit:hover {
  color: #ffffff;
  background: #f6b93b;
  transition: all 0.4s ease 0s;
}

input {
  width: 300px;
  height: 30px;
  text-align: center;
}

/*******MEDIA QUERIES*****/

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}
